<ul class="nav nav-tabs">
    {if condition="$Request.action eq 'index' "}
    <li role="presentation" class="active"><a href="javascript:void(0);">大宗项目</a></li>
    {else /}
    <li role="presentation"><a href="javascript:void(0);" onclick="loadURL('{:url("Zryxes/index")}')">大宗项目</a></li>
    {/if}
    {if condition="$Request.action eq 'sucai' "}
    <li role="presentation" class="active"><a href="javascript:void(0);">大宗项目素材</a></li>
    {else /}
    <li role="presentation"><a href="javascript:void(0);" onclick="loadURL('{:url("Zryxes/sucai")}')">大宗项目素材</a></li>
    {/if}
    <a class="btn btn-success" style="float: right;" onclick="loadURL('{:url("Zryxes/add")}')">添加大宗</a>
	{if condition="$Request.action eq 'index' "}
	    <button class="btn btn-success export" style="float: right;" type="button"><i class="fa fa-download"></i><a target="_black">导出大宗发布统计</a></button>
	{/if}
</ul>