<ul class="nav nav-tabs">
    {if condition="$Request.action eq 'sucaidetail' "}
    <li role="presentation" class="active"><a href="javascript:void(0);">大宗素材详情</a></li>
    {else /}
    <li role="presentation"><a href="javascript:void(0);" onclick="loadURL('{:url("Zryxes/sucaidetail")}')">大宗素材详情</a></li>
    {/if}
    <a class="btn btn-link" style="float: right;" onclick="loadURL('{:url("Zryxes/sucai")}')">返回</a>
    <a href="javascript:void(0);" style="float: right;" class="btn btn-success use" data-id="{$info.id}">发布到FA財平台</a>
</ul>