{include file="base/header" /}
<style>
	img{
	   pointer-events:auto !important;
	}
	.bgp{
		wdith:354px;
		height:461px;
		background: url('/static/home/css/img/pro_succeed.png') center  #fff;
		background-attachment:scorll;
	  	background-repeat:no-repeat;
	  	background-position:top center;
		background-size: 354px 461px;
	}
	</style>
    <body style="background:#fff;">
        {include file="base/dividend" /}
        <div class="swidth" style="margin:100px 0 30px 0 ;"><img src="/static/home/css/img/pro_succeed.png" width="100%"></div>
		<div>
            <img style="margin-bottom:5px;" src="/static/frontend/images/fa.png"  width="130" height="130" alt="客服二维码">
        </div>
		<div class="pro_body_btn">
			<button type="button" id="pro-btn" class="new_footer_btn" style="width:260px;color:#ffffff;">知道了</button>
		</div>
    </body>
	<script>
		$(document).ready(function(){
			my_center_project_clue_url = "{:url('MyCenter/project_clue')}";
			$("#pro-btn").click(function(){
				location.href = my_center_project_clue_url;
			});
		});
</script>
</html>
