<ul class="nav nav-tabs">
    {if condition="$Request.action eq 'index' "}
    <li role="presentation" class="active"><a href="javascript:void(0);">未处理</a></li>
    {else /}
    <li role="presentation"><a href="javascript:void(0);" onclick="loadURL('{:url("Study/index")}')">未处理</a></li>
    {/if}
    {if condition="$Request.action eq 'already' "}
    <li role="presentation" class="active"><a href="javascript:void(0);">已处理</a></li>
    {else /}
    <li role="presentation"><a href="javascript:void(0);" onclick="loadURL('{:url("Study/already")}')">已处理</a></li>
    {/if}
</ul>