{if condition="$isback eq 1"}
	<div class="modal fade in" style="display:block;" tabindex="-1" role="dialog" aria-labelledby="followModalLabel" aria-describedby="客服">
        <div class="modal-dialog" aria-hidden="true">
            <div class="modal-content" style="background: none;border: 0;box-shadow: none;margin-top: 60px;">
                <div class="modal-body porel p0">
                    <div style="width:320px;margin:0 auto;">
                        <img src="/static/frontend/images/forbidden.png" width="320px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{/if}