<ul class="nav nav-tabs">
    {if condition="$Request.action eq 'index' "}
    <li role="presentation" class="active"><a href="javascript:void(0);">发布项目列表</a></li>
    {else /}
    <li role="presentation"><a href="javascript:void(0);" onclick="loadURL('{:url("ProjectRequire/index")}')">发布项目列表</a></li>
    {/if}
	{if condition="$Request.action eq 'index' "}
	    <button class="btn btn-success export" style="float: right;" type="button"><i class="fa fa-download"></i><a target="_black">导出发布项目需求统计</a></button>
	{/if}
</ul>