{include file="base/header" /}
<style>
	.clearfix:after{
            display: block;
            visibility: hidden;
            clear: both;
            height:0;
            content: ".";
    }
</style>
<style>
	.detail-top{
		height: 23.5%;
		width: 100%;
		background-color: #d6bb73;
		
	}
	.detail-break{
		height: 1.5%;
		width: 100%;
		background-color: #ddd;
		
	}
	.person-top{
		height:50%;
		width: 100%;    
	}
	.top-img{
		width: 14.5%;
		height: 83%;
		border: 2px solid #d7a44c;
		border-radius:50%;
		margin-top: 2%; 
	}
	.person-middle{
		width: 100%;
		font-size: 1rem;
	}
	.person-bottom{
		width: 100%;
		height: 35%;
		padding-top: 12px;
	}
	.detail-break {
	    height: 1.5%;
	    width: 100%;
	    background-color: #ddd;
    }
</style>
<style type="text/css">
	.detail-content{
		width: 100%;
	}
	.person-table{
		width: 100%;
        background-color: white;
	}
	.table-org{
		width: 100%;
	}
	.table-org td{
	border: 1px solid #eee;
	padding-left: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	color: #000;
	width: 9%;
	}
	.person-direction{
		width: 100%;
		background-color: white;
	}
	.direction-content{
	   width: 80%;
       float: left;
       color:#000;
       padding-top: 2%;
       padding-bottom: 2%;
	   overflow: hidden;
	   text-overflow: ellipsis;
	   white-space: nowrap;
	   text-align: left;
	   padding-left: 3%;
	}
	.direction-more{
		color:#dba54b;
		padding-top: 2%;
	    float: right;
	    padding-bottom: 2%;
        margin-right: 2%;
	}
	.person-done{
		width: 100%;
    	height: 10%;
    	background-color: #f2f2f2;
	}
	.orange{
   	    width: 1.5%;
	    height: 24px;
	    background-color: #deb46f;
	    float: left;
	    margin-top: 2%;
	    margin-bottom: 2%;
	    margin-left: 3%;
	}
	.done-org{
        width: 18%;
	    float: left;
	    margin-top: 9px;
	    font-weight: bold;
	    font-size: 1rem;
	    margin-left: 1%;
	}
	.colum-title {
	    height: 8%;
	    background-color: #fff;
    }
    .tzqy {
	    float: left;
	    margin-left: 5%;
	    font-weight: bold;
	    color: #000;
	    margin-top: 4%;
	    font-size: 1rem;
    }
    .sshy{
    	float: right;
        margin-right: 20%;
        font-weight: bold;
	    color: #000;
	    margin-top: 4%;
	    font-size: 1rem;
    }
    .query-left {
    	float: left;
        margin-left: 19px;
        font-weight: bold;
        width: 40%;
        margin-left: 1%;
        padding: 2%;
        text-align: left;
    }
    .query-right {
	    float: right;
	    width: 56%;
	    padding: 2%;
    }
    .tips{
    	height: 16%;
    	margin-bottom: 0;
    }
	.detail-bottom {
	    width: 100%;
	    height: 9%;
	    border-top: 0.1rem solid #dcdcdc;
	    background-color: #f2f2f2;
	    bottom: -1%;
	    position: fixed;
	    z-index: 100;
    }
	#communicate{
        width: 39%;
	    background-color: #deb46f;
	    color: #fff;
	    margin-top: 1%;
	}
	#deliver{
        width: 39%;
	    background-color: #e03635;
	    color: #fff;
	    margin-top: 1%;
	}
	.more-direct{
		text-align:left;
        z-index:3;
        overflow:scroll;
        padding: 0 7%;
        padding-bottom: 8%;
        position: absolute;
        top: 43%;
        width: 98%;
        display: none;
        background: white;
        border-radius: 7px;
        margin-left: 1%;
	}
	.colum-query{
    	background-color: #fff;
    	padding: 2%;
    }
</style>
<style type="text/css">
	/*遮罩*/
	#zhezhao{
	   position: absolute;
       top: 0px;
       background-color: black;
       z-index: 2;
       left: 0px;
       opacity: 0.5;
       display: none;
	}
	#cha{
        width: 7%;
        text-align: center;
        margin-left: 98%;
        font-size: 2rem;
        margin-top: -4%;
    }
	.jiao{
		width: 0;
		height: 0;
		border:1rem solid transparent;
		border-bottom-color: white;
		position: absolute;
		top: 38%;
        left: 89%;
		z-index: 3;
		display:none;
	}

</style>
<body>
        {include file="base/dividend" /}
	 <div class="detail-top">
	 	<div class="person-top">
	 		  {if $info.wx_img}
	 		    <img class="top-img" src="{$info.wx_img}" />
	 		  {else}
                <img class="top-img" src="__UPLOAD__/{$info.top_img}" />
	 		  {/if}
	 		   
	 	</div>
	 	<div class="person-middle">
	 		{$info.org_name}
	 	</div>
	 	<div class="person-bottom">
	 		<span>{$info.contacts}&nbsp;|&nbsp;{$info.position}</span>
	 	</div>
	 	
	 </div>
	 <div class="detail-break">
	 	
	 </div>
	 <div class="detail-content">
	 	<div class="person-table">
	 		<table class="table-org">
	 			<tr>
	 				<td>资本类型: {$info.inc_capital}</td>
	 				<td>管理规模: {$info.scale_min}-{$info.scale_max}{$info.unit}</td>
	 			</tr>
                <tr>
	 				<td>所属区域: {$info.inc_area}</td>
	 				<td>资金性质: {$info.inc_funds}</td>
	 			</tr>  
	 		</table>
	 	</div>
	 	<div id="zhezhao"></div>
	 	<div class="person-direction clearfix">
	 		<div class="direction-content">投资方向: <span>{$info.inc_industry}</span></div>
	 		<div class="direction-more">更多>></div>
	 	</div>
	    <div class="jiao"></div>
	 	<div class="more-direct">
            <div id="cha" title="关闭">×</div>
            <div id="more-detail"></div>
        </div>
	 	<div class="person-done clearfix">
           <div class="orange"></div>
           <div class="done-org">已投项目</div>
        </div>
	 </div>
	 <div class="colum-title clearfix">
        	<div class="tzqy">投资企业</div>
        	<div class="sshy">所属行业</div>
     </div>
     
	     {foreach $info.inc_target as $key => $value}
		     <ul class="colum-query clearfix" style="{if $key%2 == 0}background-color: #f2f2f2;{/if}">
		     	  <li class="query-left">{$value['target_company']}</li>
		     	  <li class="query-right">{$value['target_industry']}</li>
		     </ul>
	     {/foreach}
     
	 <div class="tips">已到底部</div>
	 <div class="detail-bottom">
	 	<a href="{:url('OrganizeInfo/service',['org_id'=>$info.org_id])}"><button id="communicate">即时沟通</button></a>
	 	<a href="{:Url('Project_clue/index',['pro_origin'=>$info.org_id])}"><button id="deliver">投递项目</button></a>	 
	 </div>
</body>
</html>
<script type="text/javascript">
	$(function(){
        //点击更多
		$('.direction-more').on('click',function(){
                var content = $('.direction-content span').html();
                // $('.more-direct').css('position','relative');
                $('.more-direct #more-detail').html(content);
                $('.more-direct,.jiao').show();
                $('#zhezhao').css('width',$(document).width());
                $('#zhezhao').css('height',$(document).height());
                $('#zhezhao').show();
		});
		//点击X
        $('#cha').on('click',function(){
        	 $('.more-direct,.jiao').hide();
        	 $('#zhezhao').hide();

        });
	});
</script>
