{include file="base/header" /}
<style>
    img{
        height: 100% !important;
    }
</style>
    <body>
        {include file="base/dividend" /}
        <div class="industry-view">
            <h3>{$info.title}</h3>
            <div class="time-box">
                <span class="time">{$info.time}</span>{$info.source}
                {if condition="$info.author neq ''"}<span class="writer">作者/{$info.author}</span>{/if}
            </div>
            <div class="industry-con">
                {$info.content}
            </div>
        </div>
        <div class="text-over">
            全文完
        </div>
    </body>
</html>
