<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="well well-sm well-light">
            {include file="user/tab" /}
            <style>
                .overflow{overflow-x: unset;}
            </style>
            <div class="tab-content padding-top-10">
                <div class="tab-pane active in" id="proj1">
                    <div class="well well-sm">
                        <form class="form-inline" id="user_form">
                            <div class="form-group">
                                <p>
                                    <label for="uid"> ID：</label>
                                    <input type="text" class="form-control" name="uid" id="uid">
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    <label for="login_name"> 登录名：</label>
                                    <input type="text" class="form-control" name="login_name" id="login_name">
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    <label for="real_name"> 真实姓名：</label>
                                    <input type="text" class="form-control" name="real_name" id="real_name">
                                </p>
                            </div>
                            <div class="form-actions" style="margin-top: 0px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default" id="user_btn" > 查询 </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table id="user" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th> ID</th>
                                <th> 登录名</th>
                                <th> 真实姓名</th>
                                <th> 所属角色</th>
                                <th> 状态</th>
                                <th> 上次登录IP</th>
                                <th> 上次登录时间</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var user_url = '{:url("User/read")}';
    var user_del_url = "{:url('User/delete')}";
    var user_judge_url = "{:url('Publics/judge')}";
</script>
<script src="__STATIC__/js/user/user_list.js"></script>