<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="well well-sm well-light">
            {include file="role/tab" /}
            <div>
                <form id="editRoleForm" action="{:url('role/edit')}" class="form-horizontal" method="post" onsubmit="return false;">
                    <fieldset>
                        <legend>角色信息</legend>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">父角色 <sup>*</sup></label>
                            <div class="col-lg-4 selectContainer">
                                <select class="form-control" name="pid">
                                    {$role_option}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">角色名称 <sup>*</sup></label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="name" value="{$role.name}" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">角色描述信息</label>
                            <div class="col-lg-4">
                                <textarea class="form-control" name="remark" placeholder="角色描述信息" rows="4">{$role.remark}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">是否启用</label>
                            <div class="col-lg-4">
                                <span class="onoffswitch">
                                    <input type="checkbox" name="status" class="onoffswitch-checkbox" id="st3"  {if condition="$role.status == 1"} checked {/if}>
                                           <label class="onoffswitch-label" for="st3">
                                        <span class="onoffswitch-inner" data-swchon-text="是" data-swchoff-text="否"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                {:token()}
                                <input type="hidden" name="id" value="{$role.id}">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-save"></i>
                                    提交
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        loadModule('bootstrapValidator', function () {
            $('#editRoleForm').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    pid: {
                        validators: {
                            notEmpty: {
                                message: '请选择父角色'
                            },
                            digtts: {
                                message: '请选择父角色'
                            }
                        }
                    },
                    name: {
                        validators: {
                            notEmpty: {
                                message: '请输入角色名称'
                            },
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '角色名称长度必须在2到20位之间'
                            }
                        }
                    }
                }
            })
            .on('success.form.bv', function (e) {
                e.stopPropagation();
                if (e && e.preventDefault) {
                    e.preventDefault();
                } else {
                    window.e.returnValue = false;//注意加window
                }
                var $form = $(e.target);
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    dataType: 'json',
                    success: function (resp) {
                        if (resp.code) {
                            Dialog.success('操作成功', resp.msg, 3000, function () {
                                loadURL(resp.data.url);
                            });
                        } else {
                            Dialog.error('操作失败', resp.msg);
                        }
                    },
                    error: function (resp) {
                        Dialog.error('错误提示', resp.msg);
                    }
                });
                return false;
            });
        });
    })
</script>