{include file="base/header" /}
    <body>
        {include file="base/dividend" /}
        <div class="service-img">
            <img src="__HOME__/images/service.png" alt="">
            <div class="radius">
                <div></div>
            </div>
        </div>
        <div class="service-box">
            <div class="service-box-c">
                <a href="{:url('RoadShow/index')}" class="icon-a1">路演中心</a>
            </div>
            <div class="service-box-c">
                <a href="{:url('Spoiler/index')}" class="icon-a3">剧透中心</a>
            </div>
        </div>
        <div class="service-box">
            <div class="service-box-c">
                <a href="http://read.jrfacai.com/app/index.php?i=3&c=entry&do=payred_index&m=dg_articlemanage" class="icon-a2">学习中心</a>
            </div>
            <div class="service-box-c">
                <a href="{:url('Activity/index')}" class="icon-a4">活动中心</a>
            </div>
        </div>
        <div class="bar-box">
        </div>
{include file="base/footer" /}