{include file="base/header" /}
    <body>
        <div class="header-title">
            <div class="pull-left">
                <a href="javascript:history.back(-1)"><i class="fa fa-angle-left"></i></a>
            </div>
            <h1>研报</h1>
        </div>
        <div class="notice-tab">
            <a class="actived">文本内容</a>
        </div>
        <div class="notice-con">
            <div class="notice-text">
                <p>
                    {$info.text}
                </p>
            </div>
        </div>
    </body>
</html>
