<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="well well-sm well-light">
            {include file="trilateral/tab_detail" /}
            <div id="project_detail" data-id="{$info.id}">
                <fieldset>
                    <legend></legend>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                        <label class="control-label col-lg-2 col-md-4 col-sm-4">路演标题：</label>
                        <div class="form-group col-lg-8 col-sm-8 col-md-8 col-xs-12">
                            {$info.title}
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                        <label class="control-label col-lg-2 col-md-4 col-sm-4">路演类型：</label>
                        <div class="form-group col-lg-8 col-sm-8 col-md-8 col-xs-12">
                            {$info.type}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                        <label class="control-label col-lg-2 col-md-4 col-sm-4">参演时间：</label>
                        <div class="form-group col-lg-8 col-sm-8 col-md-8 col-xs-12">
                            {$info.meetingtime}
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                        <label class="control-label col-lg-2 col-md-4 col-sm-4">参演项目：</label>
                        <div class="form-group col-lg-8 col-sm-8 col-md-8 col-xs-12">
                            {$info.pro_ids}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                        <label class="control-label col-lg-2 col-md-4 col-sm-4">参会人数：</label>
                        <div class="form-group col-lg-8 col-sm-8 col-md-8 col-xs-12">
                            {$info.num}
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                        <label class="control-label col-lg-2 col-md-4 col-sm-4">协办方：</label>
                        <div class="form-group col-lg-8 col-sm-8 col-md-8 col-xs-12">
                            {$info.cosponsor}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <label class="control-label col-lg-1 col-md-2 col-sm-2">路演简介：</label>
                        <div class="form-group col-lg-10 col-sm-12 col-md-12 col-xs-12">
                            {$info.content}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>