<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="well well-sm well-light">
            {include file="trilateral/tab_edit" /}
            <div>
                <form id="editTrilateralForm" action="{:url('Trilateral/edit')}" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return false;">
                    <fieldset>
                        <legend></legend>
                        <div class="form-group col-lg-6">
                            <label class="control-label col-lg-2">路演标题： <sup>*</sup></label>
                            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <input type="text" class="form-control" name="title" value="{$info.title}"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-6">
                            <label class="control-label col-lg-2">路演类型： <sup>*</sup></label>
                            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <input type="text" class="form-control" name="type" value="{$info.type}"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-6">
                            <label class="control-label col-lg-2">路演时间： <sup>*</sup></label>
                            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <input type="text" class="form-control" name="meetingtime" value="{$info.meetingtime}"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-6">
                            <label class="control-label col-lg-2">参演项目： <sup>*</sup></label>
                            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <input type="text" class="form-control" name="pro_ids" value="{$info.pro_ids}"/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12 col-md-12 col-xs-12">
                                <label class="control-label">(填写项目ID以英文逗号分隔即可)</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-6">
                            <label class="control-label col-lg-2">参会人数： <sup>*</sup></label>
                            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                   <input type="text" class="form-control" name="num" value="{$info.num}"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-6">
                            <label class="control-label col-lg-2">协办方： <sup>*</sup></label>
                            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <input type="text" class="form-control" name="cosponsor" value="{$info.cosponsor}"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-lg-1">路演简介： <sup>*</sup></label>
                            <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <textarea class="form-control" name="content" rows="3">{$info.content}</textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-lg-1">一览展示图： <sup>*</sup></label>
                            <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <input id="input_top_img" type="file" class="file file-upload" data-extension="jpg,jpeg,png,gif" name="file" data-show-preview="false" data-value='{$info.top_img_url}'/>
                                    <input type="text" class="hide" name="top_img" value="{$info.top_img}"/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12 col-md-12 col-xs-12">
                                <label class="control-label">(尺寸为315*230)</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-lg-1">详细展示图： <sup>*</sup></label>
                            <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <input id="input_top_img" type="file" class="file file-upload" data-extension="jpg,jpeg,png,gif" name="file" data-show-preview="false" data-value='{$info.index_img_url}'/>
                                    <input type="text" class="hide" name="index_img" value="{$info.index_img}"/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12 col-md-12 col-xs-12">
                                <label class="control-label">(尺寸为800*371)</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-12">
                            <label class="control-label col-lg-1">路演视频： <sup>&nbsp;</sup></label>
                            <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                                <div class="input-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <input id="input_company_video" type="file" class="file file-upload" data-extension="mp4" name="file" data-show-preview="false" data-value='{$info.video_url}'/>
                                    <input type="text" class="hide" name="video"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-lg-12">
                            <label class="col-lg-1 control-label">路演内容：<sup>&nbsp;</sup></label>
                            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                                <div id="summernote"></div>
                                <input type="text" class="hide" name="summernote" value="{:htmlentities($info.content_img)}"/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                {:token()}
                                <input type="text" name="id" value="{$info.id}" class="hide">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-save"></i>发布
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/js/file_input_common.js"></script>
<script src="__STATIC__/js/summernote_common.js"></script>
<script>
    var send_file_url = "{:url('Trilateral/uploads')}";
    $(function () {
        loadModule('bootstrapValidator', function () {
            $('#editTrilateralForm').bootstrapValidator({
                excluded:[":disabled"],
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    title: {
                        validators: {
                            notEmpty: {
                                message: '请输入路演项目名称'
                            }
                        }
                    },
                    type: {
                        validators: {
                            notEmpty: {
                                message: '请输入路演项目名称'
                            }
                        }
                    },
                    meetingtime: {
                        validators: {
                            notEmpty: {
                                message: '请输入企业名称'
                            }
                        }
                    },
                    content: {
                        validators: {
                            notEmpty: {
                                message: '请输入项目简介'
                            }
                        }
                    },
                    num:{
                        validators: {
                            notEmpty: {
                                message: '请输入项目详情'
                            }
                        }
                    },
                    num:{
                        validators: {
                            notEmpty: {
                                message: '请输入项目详情'
                            }
                        }
                    },
                    cosponsor:{
                        validators: {
                            notEmpty: {
                                message: '请输入项目详情'
                            }
                        }
                    },
                    pro_ids:{
                        validators: {
                            notEmpty: {
                                message: '请输入项目详情'
                            }
                        }
                    },
                    list_order:{
                        validators: {
                            notEmpty: {
                                message: '请输入项目详情'
                            }
                        }
                    },
                    
                    top_img: {
                        validators: {
                            notEmpty: {
                                message: '请上传一览展示图'
                            }
                        }
                    },
                    index_img: {
                        validators: {
                            notEmpty: {
                                message: '请上传详细展示图'
                            }
                        }
                    },
                }
            }).on('success.bv.form', function (e) {
                e.stopPropagation();
                if(e && e.preventDefault){
                    e.preventDefault();
                }else{
                    window.e.returnValue = false;//注意加window
                }
                var $form = $(e.target);
                var data  = $form.serialize();
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function (resp) {
                        if (resp.code) {
                            Dialog.success('发布成功', resp.msg, 3000, function () {
                                loadURL(resp.data.url);
                            });
                        } else {
                            Dialog.error('发布失败', resp.msg);
                        }
                    },
                    error: function(resp) {
                        Dialog.error('错误提示', resp.msg);
                    }
                }); 
                return false;
            });
        });
        
        
        $('.file-upload').each(function() {
            var thiss 		= $(this)
            var name  		= $(this).attr("data-value");
            var extension 	= $(this).attr("data-extension");
            var type 		= extension.split(',');
            initFileInput('editTrilateralForm', thiss, 'trilateral', type, '{:url("Publics/upload")}', 1,name);
        });
        
        var content_img = $("input[name='summernote']").val();
        $('#summernote').summernote("code" , content_img);
    });
</script>