{include file="base/header" /}
    <body>
        {include file="base/dividend" /}
        <div class="pro-detail">
            <div class="pro-t">
                <span>{if condition="$info.status eq 0"}待处理{else /}已处理{/if}</span>{$info.pro_name}
            </div>
            <p>
                <label for="capital_plan">资本计划：</label>{$info.capital_plan} <br>
                {if condition="$info.stock_code neq ''"}
                <label for="stock_code">股票代码：</label>{$info.stock_code} <br>
                {/if}
                <label for="financing_amount">项目金额：</label>{$info.financing_amount}万
            </p>
            <p>
                <label for="company_name">企业名称：</label>{$info.company_name} <br>
                <label for="contacts">联系人姓名：</label>{$info.contacts} <br>
                <label for="contacts_tel">联系人电话：</label>{$info.contacts_tel} <br>
                <label for="contacts_email">联系人邮箱：</label>{$info.contacts_email}
            </p>
        </div>
        <div class="pro-sum-t">项目简介</div>
        <div class="pro-sum">
            {$info.introduction}
            <div class="upload-box">
                {if condition="$info.img neq ''"}
                    {foreach name="$info.img" item="img"}
                    <img src="__UPLOAD__/home/project_clue/{$img}" alt="">
                    {/foreach}
                {/if}
            </div>
        </div>
        
    </body>
</html>
