<div class="modal fade bs-example-modal-lg" id="ModalImg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button style="position: absolute;bottom: 0;right: 0;margin-right: -22px;margin-bottom: -30px;font-size: 35px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img style="width: 100%;" src="">
                <button style="position: absolute;bottom: 0;right: 0;margin-right: 70px;margin-bottom: -25px;" type="button" class="close"><span aria-hidden="true"><i class="fa fa-rotate-left"></i></span></button>
                <button style="position: absolute;bottom: 0;right: 0;margin-right: 25px;margin-bottom: -25px;" type="button" class="close"><span aria-hidden="true"><i class="fa fa-rotate-right"></i></span></button>
            </div>
        </div>
    </div>
</div>
<script>
    var url = '{:url("Publics/rotate")}';
</script>
