<ul class="nav nav-tabs">
    {if condition="$Request.action eq 'index' "}
    <li role="presentation" class="active"><a href="javascript:void(0);">客服列表</a></li>
    {else /}
    <li role="presentation"><a href="javascript:void(0);" onclick="loadURL('{:url("SelfCustomerService/index")}')">客服列表</a></li>
    {/if}
    <a class="btn btn-link" style="float: right;" onclick="loadURL('{:url("SelfCustomerService/add")}')">添加客服</a>
    <a class="btn btn-link" style="float: right;" target="_blank" onclick="loadURL('{:url("InstantMessaging/index")}')">登录客服系统</a>
</ul>