<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="well well-sm well-light">
            {include file="zfmxes/tab_settop" /}
            <style>
                .overflow{overflow-x: unset;}
            </style>
            <div class="tab-content padding-top-10">
                <div class="tab-pane active in">
                    <div class="form-horizontal">
                        <form id="zfmxes_form">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-lg-1 col-md-2 col-sm-2 control-label"> 企业名称：</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="text" class="form-control" name="sec_uri_tyshortname" id="sec_uri_tyshortname">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-lg-1 col-md-2 col-sm-2 control-label"> 股票代码：</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="text" class="form-control" name="msecucode" id="msecucode">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-lg btn-default" id="zfmxes_btn" > <i class="fa fa-search"></i>查询 </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table id="zfmxes" data-path="__UPLOAD__" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th> ID</th>
                                <th> 企业名称</th>
                                <th> 股票代码</th>
                                <th> 审核状态</th>
                                <th> 展示状态</th>
                                <th> 融资状态</th>
                                <th> 置顶状态</th>
                                <th> 预案公告日</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var zfmxes_url = '{:url("Zfmxes/settopread")}';
    var root_path_url = $("#zfmxes").attr("data-path");
    var zfmxes_settop_true_url = '{:url("Zfmxes/stick_true")}';
    var zfmxes_settop_false_url = '{:url("Zfmxes/stick_false")}';
</script>
<script src="__STATIC__/js/zfmxes/zfmxes_list_set.js"></script>