<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>FA財</title>
    <meta name="keywords" content="FA財" />
    <meta name="description" content="FA財" />
    <link rel="shortcut icon" href="/static/frontend/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/static/frontend/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/common.css" />
    <script type="text/javascript" src="/static/frontend/js/common.min.js"></script>
    <script type="text/javascript" src="/static/frontend/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/frontend/js/component.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <style>
        .active{
            color: #007FED;
        }
        .activeSpan{
            display: block;
            width:32px;
            height:3px;
            background-color: #0076FF;
            border-radius:1px;
            position:relative;
            top: 2px;
            margin:2px auto 0;
        }
        .chooseBox{border:1px solid #dddddd;color:#888888;width:130px;height:28px;line-height:26px;text-align:center;margin:0 10px 15px;float:left;}
        .chooseBox.active{color:#0076FF;border:1px solid #0076FF;}
    </style>
</head>
<body>
	<div id="box" class="bg_gray" v-if="showDetail" style="width:100%;">
		<div class="back_index">
			<a href="./index.html" id="ad">返回首页</a>
		</div>
		<div id="findBox" class="mofh">
	    	<div style="padding:10px 10px;" class="bg_white">
	      		<div class="clearfix porel">
					<a :href="'/static/frontend/othersBusiness.html?uid='+item.uid">
	      				<img class="pull-left" :src="item.userPhoto" width="46" height="46" style="border-radius:2px;margin-right:13px;">
				      	<div class="pull-left">
				        	<p style="font-size: 16px;line-height: 20px;color: #1E1E1E;margin-bottom: 10px;">{{item.realName}}</p>
				          	<p style="font-size: 12px;line-height: 16px;color: #999999;">{{item.company_jc}} | {{item.position}}</p>
				      	</div>
	      			</a>
					<template v-if="item.uid != ui.uid">
		            	<div @click="followUser(item.uid)" v-if="item.is_follow == '关注'" class="pull-right mt10 text-center ball" style="border-color: #545AFF;color: #007FED;border-radius: 2px;width: 70px;height: 24px;margin-right: 35px;">关注</div>
		                <div @click="followUser(item.uid)" v-else class="pull-right mt10 text-center ball" style="border-color: #979797;color: #999999;border-radius: 2px;width: 70px;height: 24px;margin-right: 35px;">已关注</div>
		          	</template>
	          		<div @click="reportBtnAct(item.id)" style="width: 18px;height: 18px;border-radius: 9px; position: absolute;top: -5px;right: -5px;border-color: #999999;" class="ball">
	              		<img src="/static/frontend/images/find_close.png" alt="" width="8" style="position: absolute;top: 4px;right: 4px;">
	      			</div>
	          	</div>
				<div>
			        <a style="font-size: 15px;color: #444444;line-height: 24px;" class="mt15 dbk" :href="'/static/frontend/findCommemt.html?id='+item.id"><p>{{item.content}}</p></a>
			        <div class="clearfix mt15 mb10">
			        	<img @click="showImg" v-for="img in item.img_url" :src="'http://fin.jrfacai.com/uploads/'+img.url" alt="" width="108" class="mr10 mb5">
			    	</div>
				</div>
				<div class="clearfix">
				    <div class="pull-left tofh text-center mr5 mb5" style="color: #007FED;border:1px solid #545AFF;border-radius:2px;padding:2px 8px;font-size:10px;" v-if="item.all_tag" v-for="t in item.all_tag"> {{t}}</div>
				</div>
			    <div class="clearfix" style="font-size: 12px;line-height: 17px;color: #999999;">
			        <p class="pull-left">{{item.create_time}}</p>
			        <div class="pull-right">
			            <div class="mr20 pull-left">
			                <img v-if="item.is_point == 0" src="/static/frontend/images/like-0.png" alt="点赞" width="14" @click="like(event, item)">
			                <img v-else src="/static/frontend/images/like-1.png" alt="点赞" width="14" @click="like(event, item)">
			                <span>{{item.point_num}}</span></div>
			            <div @click="showCommentBox(0, '')" class="pull-left">
			                <img src="/static/frontend/images/msg-0.png" alt="评论" width="14"> <span>{{item.comment_num}}</span>
			            </div>
			    	</div>
			    </div>
			</div>
			<div id="comment" class="mt10">
			    <div class="clearfix pt15 text-center bg_white" style="font-size: 16px;line-height: 22px;">
			        <div class="col-xs-4">
			            <div style="font-size: 14px;line-height: 20px;color: #007FED;" class="menuBtn pointer">全部评论</div>
			            <span class="activeSpan menuBtnSpan"></span>
			        </div>
			    </div>
			    <div class="tabBox bg_white pl15 pb10" style="margin-top: 2px;padding-right: 45px;min-height: 50px;">
			        <div v-for="item in comment" class=".content pt15 clearfix">
			            <div class="clearfix">
			                <img class="pull-left" :src="item.userPhoto" width="46" height="46" style="border-radius:2px;margin-right:13px;">
			                <div class="pull-left">
			                    <p style="font-size: 16px;line-height: 20px;color: #1E1E1E;margin-bottom: 10px;">{{item.realName}}</p>
			                    <p style="font-size: 12px;line-height: 16px;color: #999999;">{{item.company_jc}} | {{item.position}}</p>
			                </div>
			                <template v-if="item.uid != ui.uid">
			                    <div @click="followUser(item.uid)" v-if="item.is_follow == '关注'" class="pull-right mt10 text-center ball" style="border-color: #545AFF;color: #007FED;border-radius: 2px;width: 70px;height: 24px;">关注</div>
			                    <div @click="followUser(item.uid)" v-else class="pull-right mt10 text-center ball" style="border-color: #979797;color: #999999;border-radius: 2px;width: 70px;height: 24px;">已关注</div>
			                </template>
			            </div>
			            <div style="padding-left: 46px;">
			                <div @click="showCommentBox(item.cid, item.realName)" style="font-size: 15px;color: #444444;line-height: 24px;" class="mt15 mb10">{{item.content}}</div>
			                <div class=".reply" style="color: #333333;">
			                    <p v-show="item.reply.length > 0" style="font-size: 10px;line-height: 16px;background: #F0F0F0;border: 0 solid #979797;border-radius: 2px;width: 50px;" class="pl10 pr10 mb15">回复</p>
			                    <div v-for="replys in item.reply" class="mt15 pl10 pr10" style="font-size: 14px;line-height: 24px;background-color: #F0F0F0;border: 0 solid #979797;border-radius: 2px;">{{replys.realName}}: {{replys.content}}</div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		<div style="height: 75px;"></div>
		<div id="commentBox" style="background: #F8F8F8;border: 0 solid #979797;box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50);height: 60px;padding: 10px 15px;position: fixed;bottom: 0;width: 100%" class="clearfix footDiv dno">
			<input id="commentContent" type="text" class="pull-left footInput pl5 pr5" style="background: #FFFFFF;border: 1px solid #F0F0F0;border-radius: 4px;height: 36px;" placeholder="请输入内容">
			<button @click="commentAct" class="pull-right" style="background-image: linear-gradient(-134deg, #007FED 0%, #545AFF 100%);border: 1px solid #F0F0F0;border-radius: 4px;width: 68px;height: 36px;font-size: 16px;color: #FFFFFF;">发送</button>
		</div>
	</div>
	<!-- 图片放大模态框 -->
	<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-describedby="提示信息" style="background:#000000;">
		<div class="modal-dialog" aria-hidden="true">
	    	<div class="modal-content" style="background:none;">
	      		<div class="modal-body p0">
	          		<img data-toggle="modal" data-target="#imgModal" class="center-block nonBig" id="imgExp" src="" alt="" style="max-width:100%;">
				</div>
	        </div>
	    </div>
	</div>
	<!-- 模态框 -->
	<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-describedby="反馈信息">
	    <div class="modal-dialog" aria-hidden="true">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <h4 class="modal-title" id="reportModalLabel">请选择反馈信息</h4>
	            </div>
	            <div class="modal-body clearfix f12 pb0">
	                <div class="chooseBox pull-left" v="1">内容不真实 虚假内容</div>
	                <div class="chooseBox pull-left" v="2">身份虚假 假借身份</div>
	                <div class="chooseBox pull-left" v="3">诈骗 造谣</div>
	                <div class="chooseBox pull-left" v="4">恶语相加</div>
	                <div class="chooseBox pull-left" v="5">不诚实</div>
	            </div>
	            <div class="modal-footer">
	                <button id="reportPublish" type="button" class="btn btn-primary btn-block">确 定</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 提示框 -->
	<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-describedby="提示信息">
	    <div class="modal-dialog" aria-hidden="true" style="margin:30px 20px 0;">
	        <div class="modal-content" style="border:0;">
	            <div class="modal-body text-center"></div>
	        </div>
	    </div>
	</div>
	<!-- loading -->
	<div id='loading' class='loading-box hidden'>
	    <div class='css3-loading-shade'></div>
	    <div class='css3-loading-box'>
	        <div>歆宝科技</div>
	        <div class='css3-loading'>
	            <div class='bounce1'></div>
	            <div class='bounce2'></div>
	            <div class='bounce3'></div>
	        </div>
	    </div>
	</div>
	<script type="text/javascript">
		var param = getParams();
      	$(document).ready(function() {
          	// 设置加载中...
          	$(document).ajaxStart(function() {
              	$("#loading").removeClass('hidden');
          	});
          	$(document).ajaxStop(function() {
              	$("#loading").addClass('hidden');
          	});
      	});
      	//提示框
      	function alertModal(msg) {
          	$("#alertModal").find('.modal-body').html(msg);
          	$("#alertModal").modal("show");
          	setTimeout(function() {
              	$("#alertModal").modal("hide");
          	}, msg.length / 7 * 1000);
      	}

      	$("#box").height($(window).height());
      	$("#findBox").height($(window).height() - 75);
      	$(".footInput").width($(".footDiv").width() - 68 - 30);
      	//切换显示

      	$(".menuBtn").click(function(event) {
          	var i = $(".col-xs-4").index($(this).parent());
          	var box = $(".tabBox").eq(i);

          	//加当前菜单标识
          	$(".menuBtn").removeClass('active');
          	$(this).addClass('active');
          	$(".menuBtnSpan").removeClass('activeSpan');
          	$(".menuBtnSpan").eq(i).addClass('activeSpan');

          	//显示当前菜单对应tabBox
          	$(".tabBox").hide();
          	box.show();
      	});
      	// VUE实例
      	var vue = new Vue({
          	el: "#box",
          	data: {
              	ui: {},
              	item: {},
              	comment: [],
              	reportId: '',
              	cid: '', //评论对象ID
              	showDetail: true,
              	appId: "",
              	noncestr: "",
              	signature: "",
              	timestamp: "",
              	share: {}
          	},
			mounted: function() {
              	this.$nextTick(function() {
                  	vue.ui = ui;
                  	// 发现详情
                  	vue.loadItem();

                  	// 评论详情
                  	vue.loadComment();

                  	// 默认开启评论框
                  	vue.showCommentBox(0, '');

                  	// 反馈信息
                  	$(".chooseBox").click(function(event) {
                      	var curr = event.currentTarget;
                      	$(curr).addClass('active');
                  	});
                  	$("#reportPublish").click(function(event) {
                        var report = "";
                      	$(".chooseBox.active").each(function(index, el) {
                          	report += $(el).attr('v') + ",";
                      	});
                      	report = report.substring(0, report.length - 1);
                      	$.ajax({
	                            url: 'http://fin.jrfacai.com/home/publish_api/reportPublish',
	                            type: 'POST',
	                            dataType: 'json',
	                            data: {
	                                  "id": vue.reportId,
	                                  "report": report
	                            },
                        })
                        .done(function(res) {
                             $("#reportModal").modal('hide');
                             setTimeout(function() {
                                 alertModal(res.msg);
                             }, 400);
                       });
                   });

                   // 加载微信配置
                   $.ajax({
                  		  url: 'http://fin.jrfacai.com/home/base_api/readyWxJs',
                          type: 'GET',
                          dataType: 'JSON',
                          async: false,
                          data: { "link": window.location.href },
                   })
                   .done(function(res) {
                       if (res.code == 200) {
                           vue.appId = res.data.appId;
                           vue.noncestr = res.data.noncestr;
                           vue.signature = res.data.signature;
                           vue.timestamp = res.data.timestamp;
                       }
                   });

                   wx.config({
                       debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                       appId: vue.appId, // 必填，公众号的唯一标识
                       timestamp: vue.timestamp, // 必填，生成签名的时间戳
                       nonceStr: vue.noncestr, // 必填，生成签名的随机串
                       signature: vue.signature,// 必填，签名
                       jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
                   });
                   
                   var shareLink = window.location.href;
                   if (ui.userType == 1 || ui.userType == 2) {
                       shareLink = shareLink+"&superior="+ui.uid;
                   }
                   wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
                       wx.onMenuShareAppMessage({ 
                           title: vue.share.title, // 分享标题
                           desc: vue.share.desc, // 分享描述
                           link: shareLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                           imgUrl: vue.share.imgUrl, // 分享图标
                           success: function () {
                            // 设置成功
                           }
                       });
                       wx.onMenuShareTimeline({ 
                           title: vue.share.title, // 分享标题
                           link: shareLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                           imgUrl: vue.share.imgUrl, // 分享图标
                           success: function () {
                            // 设置成功
                           }
                       });
                   });
               });
			},
			methods: {
              	loadItem: function() {
                    $.ajax({
                          url: 'http://fin.jrfacai.com/home/publish_api/publishDetail',
                          type: 'GET',
                          dataType: 'json',
                          async: false,
                          data: {
                              "id": param.id
                          },
                    })
                    .done(function(res) {
                    	vue.item = res.data;
                        vue.item.all_tag = res.data.all_tag.split(",");
                        vue.share = res.data.share;
                    });
              	},
             	loadComment: function() {
                    $.ajax({
                          url: 'http://fin.jrfacai.com/home/publish_api/publishComment',
                          type: 'GET',
                          dataType: 'json',
                          data: {
                              "id": param.id
                          },
                    })
                    .done(function(res) {
                        vue.comment = res.data;
                        console.log(res);
                    });
              	},
              	like: function(event, item) {
                    var el = event.currentTarget;
                    $.ajax({
                          url: 'http://fin.jrfacai.com/home/publish_api/pointPublish',
                          type: 'POST',
                          dataType: 'json',
                          data: { "id": item.id },
                    })
                     .done(function(res) {
                         alertModal(res.msg);
                         if (res.code == 200) {
                             if ($(el).attr('src') == '/static/frontend/images/like-0.png') {
                                 $(el).attr('src', '/static/frontend/images/like-1.png');
                                 item.point_num = parseInt(item.point_num) + 1;
                             } else {
                                 $(el).attr('src', '/static/frontend/images/like-0.png');
                                 item.point_num = parseInt(item.point_num) - 1;
                             }
                         }
                     });
              	},
              	followUser: function(id) {
					$.ajax({
                    		url: 'http://fin.jrfacai.com/home/follow_user_api/doFollowUser',
                          	type: 'POST',
                          	dataType: 'json',
                          	data: { "uid": id },
                     })
                     .done(function(res) {
                         alertModal(res.msg);
                         if (res.code == 200) {
                             vue.loadItem();
                         }
                    });
              	},
              	reportBtnAct: function(id) {
                  	vue.reportId = id;
                  	$(".chooseBox").removeClass('active');
                  	$("#reportModal").modal('show');
              	},
              	showCommentBox: function(cid, name) {
                  	vue.cid = cid;
                  	if (cid != 0) {
                      	$("#commentContent").attr('placeholder', '回复 ' + name + "：");
                  	} else {
                      	$("#commentContent").attr('placeholder', "评论");
                  	}
                  	$("#commentBox").show();
                  	$("#commentContent").focus();
              	},
              	commentAct: function() {
                  $.ajax({
                          url: 'http://fin.jrfacai.com/home/publish_api/addCommentPublish',
                          type: 'POST',
                          dataType: 'json',
                          data: {
                              "pub_id": vue.item.id,
                              "content": $("#commentContent").val(),
                              "id": vue.cid
                          },
                      })
                      .done(function(res) {
                          alertModal(res.msg);
                          $("#commentBox").hide();
                          if (res.code == 200) {
                              vue.loadItem();
                              vue.loadComment();
                              $("#commentContent").val("");
                          }
                      });
              	},
                showImg: function(event) {
                    var el = event.currentTarget;
                  	wx.previewImage({
                      	current: $(el).attr('src'), // 当前显示图片的http链接
                      	urls: [$(el).attr('src')] // 需要预览的图片http链接列表
                  	});
                }
            }
        });
	</script>
</body>
</html>