<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>FA財</title>
    <meta name="keywords" content="FA財" />
    <meta name="description" content="FA財" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="./images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <script type="text/javascript" src="./js/common.min.js"></script>
    <script type="text/javascript" src="./js/vue.min.js"></script>
    <script type="text/javascript" src="./js/component.js"></script>
</head>

<body class="mofh bg_white" style="width:100%;">
    <div id="box" class="mb20">
        <section class="mb10" style="overflow:hidden;width:100%;">
            <!-- 搜索 -->
            <div class="search-box pt15 pl15 pr15 clearfix mb15">
                <div class="form-search-control-left pull-left bg_gray"></div>
                <input type="text" id="keyword" style="width:80%;" class="form-search-control-right pull-left bg_gray" placeholder="输入项目名称、投融规模、省份" v-model.trim="keyword">
                <img src="./images/zoomtool.png" id="searchpic" style="width:18px;height:18px;position: absolute;left: 8%;top: 24px;z-index: 999;" alt="" @click="search">
                <a href="/static/frontend/search.html" class="pull-right c_primary mt5" style="font-size: 14px;color: #007FED;line-height: 25px;">取消</a>
            </div>
        </section>
        <section style="overflow:hidden;width:100%;">
            <!-- 项目 -->
            <div v-if="projectList != null && projectList.length > 0">
                <!-- <p class="ml15 mb10" style="font-size: 22px;line-height:30px;color: #000000;">项目</p> -->
                <div v-for="(item,index) in projectList">
                    <a class="ml5 mr5 mb10 dbk pt10 pb10 pl10 radius" style="background:#ffffff;" @click="getDetail(item.pro_id,item.type)">
            <div class="clearfix porel mt0">
                <img  :src="item.img" alt="" style="width:50px;height:50px;" class="pull-left">
                <div style="position: absolute;width:100%;height:50px;left:65px;top:0;">
                    <div class="f16 c_black dbk tofh rightDiv" style="position: absolute;top: -4px;left: 0;">{{item.pro_name}}</div>
                    <div class="c_gray clearfix" style="position: absolute;bottom: 0;left: 0;">
                        <div style="height:20px;line-height:18px;" class="pl5 pr5 f12 mr5 mb5 pull-left ball" v-for="l in item.label">{{l}}</div>
                    </div>
                </div>
                <div class="pull-right porel" style="height:50px;width:50%;">
                    <div class="c_white text-center f12 pl5"  v-if="item.type == 'organize'" style="position:absolute;right:0;top:0;background-size: 74px 26px;background-image: url(./images/fund-sign.png);width:74px;height:26px;line-height:24px;">精选资金</div>
                    <div class="c_white text-center f12 pl5"  v-if="item.type == 'organize_require'" style="position:absolute;right:0;top:0;background-size: 50px 26px;background-image: url(./images/fund-sign.png);width:50px;height:26px;line-height:24px;">资金</div>
                    <div v-if="item.type == 'project_require'" class="c_white text-center f12 pl5" style="position:absolute;right:0;top:0;background-size: 50px 26px;background-image: url(./images/pro-sign.png);width:50px;height:26px;line-height:24px;">项目</div>
                    <div v-if="item.type == 'project' || item.type == 'zfmxes_add' || item.type == 'zryxes_effect'" class="c_white text-center f12 pl5" style="position:absolute;right:0;top:0;background-size: 74px 26px;background-image: url(./images/pro-filter-sign.png);width:74px;height:26px;line-height:24px;">精选项目</div>
                    <div class="f12 c_gray text-right mr10" style="position:absolute;right:3px; bottom:0;">{{item.view_num}}人浏览</div>
                </div>
            </div>
            <div class="clearfix porel mt10 mr10">
                <div class="pull-left c_black tofh mr5" style="width:60px;">{{item.name}}</div>
                <div class="pull-left c_gray tofh dbk" style="width:230px;">简介：{{item.des}}</div>
                <div class="pull-right c_primary" style="position:absolute;right:0;bottom:0;">更多</div>
            </div>
        </a>
                    <div>
                    </div>
                </div>
                <a @click="loadMore" v-show="!isOver" class="dbk text-center f16 ml5 mr5 mb10" style="width:100%;height: 40px;line-height:40px;background: #FFFFFF;border: 0 solid #979797;border-radius: 4px;color: #007FED;"><p >加载更多<img src="./images/loadingAll.png" alt="" width="16" height="8" class="ml5"></p>
                    </a>
            </div>
            <p v-show="isOver" class="text-center mt10 mb10" style="font-size: 15px;color: #444444;line-height: 24px;">没有更多搜索结果了</p>
        </section>
        <!-- 底部菜单 -->
        <!-- <div style="height:80px;line-height:80px;"></div>
        <div style="padding:8px 0 8px;position:fixed;left: 0;bottom: 0;width: 100%;background:#ffffff;" class="shadow">
            <div style="width: 100%;height: 50px;" class="clearfix">
                <a style="width:20%;" class="pull-left text-center" href="./index.html">
                <img src="./images/sign-1-0-menu.png" alt="" class="dbk" style="width:27px;height: 27px;margin:3px auto 0;">
                <div class="f12 c_gray">首页</div>
            </a>
                <a style="width:20%;" class="pull-left text-center" href="./selectedProjects.html">
                <img src="./images/sign-2-1-menu.png" alt="" class="dbk" style="width:27px;height: 27px;margin:3px auto 0;">
                <div class="f12 c_black">市场</div>
            </a>
                <a style="width:20%;" class="pull-left text-center" href="./release-needs.html">
                <img src="./images/sign-3-0-menu.png" alt="" class="dbk" style="width:54px;margin:-23px auto 1px;position: relative;">
                <div class="f12 c_gray" style="color:#3966F9">需求发布</div>
            </a>
                <a style="width:20%;" class="pull-left text-center" href="./find.html">
                <img src="./images/sign-4-0-menu.png" alt="" class="dbk" style="width:27px;height: 27px;margin:3px auto 0;">
                <div class="f12 c_gray">发现</div>
            </a>
                <a style="width:20%;" class="pull-left text-center" href="./my.html">
                <img src="./images/sign-5-0-menu.png" alt="" class="dbk" style="width:27px;height: 27px;margin:3px auto 0;">
                <div class="f12 c_gray">我的</div>
            </a>
            </div>
        </div> -->
    </div>
    <script type="text/javascript">
    $("#box").height($(window).height());
    $(".rightDiv").width($(window).width() - 20 - 50 - 50 - 10 - 10);
    var s_url = "http://www.testfa.com";
    var vue = new Vue({
        el: "#box",
        data: {
            keyword: "",
            projectList: [],
            isOver: false,
            page: 1,
        },
        mounted: function() {
            this.$nextTick(function() {
                setTimeout(function() {
                    $("#box").scroll(function() {
                        if (vue.pageFlag) {
                            var y = $("#more").offset().top - $(window).scrollTop() - $(window).height();
                            if (y < 80) {
                                vue.page = vue.page + 1;
                                vue.search();
                            }
                        }
                    });
                }, 400);

            });
        },
        methods: {
            search: function() {
                $.ajax({
                        url: s_url+'/home/index_api/indexSearchProject',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            keyword: vue.keyword,
                            page: vue.page,
                        },
                    })
                    .done(function(res) {
                        if (res.data.length < 4) {
                            vue.isOver = true;
                        } else {
                            vue.isOver = false;
                        }
                        if (res.data) {
                            vue.projectList = vue.projectList.concat(res.data);
                        }
                    });

            },
            loadMore: function() {
                vue.page = vue.page + 1;
                vue.search();

            },
            getDetail: function(id, type) {
                if (type == "project") { //精选项目
                    window.location.href = '/home/project_info/index/id/' + id;
                } else if (type == 'organize') { //精选资金
                    window.location.href = './detailsShowSelectedFunds.html?id=' + id + '&type=' + type;
                } else if (type == 'organize_require') { //资金
                    window.location.href = './detailsShowFunds.html?id=' + id + '&type=' + type;
                } else if (type == "project_require") { //项目
                    window.location.href = './detailsShowProject.html?id=' + id + '&type=' + type;
                } else if (type == "zfmxes_add") {
                    //精选定增项目http://fin.jrfacai.com/home/zfmxes_info/index/neeq/$neeq/plannoticeddate/$plannoticeddate;
                    window.location.href = '/home/zfmxes_info/index/neeq' + id + '/plannoticeddate/' + type;
                } else if (type == "zryxes_effect") {
                    //精选大宗转让项目http://fin.jrfacai.com/home/zryxes_effect_info/index/id/$id
                    window.location.href = '/home/zryxes_effect_info/index/id/' + id;
                }
            },
        }
    });
    </script>
</body>

</html>