<ul class="nav nav-tabs">
    {if condition="$Request.action eq 'index' "}
    <li role="presentation" class="active"><a href="javascript:void(0);">管理员</a></li>
    {else /}
    <li role="presentation"><a href="javascript:void(0);" onclick="loadURL('{:url("user/index")}')">管理员</a></li>
    {/if}
    {if condition="$Request.action eq 'add' ||  $Request.action eq 'edit'"}
    <li role="presentation" class="active"><a href="javascript:void(0);">添加管理员</a></li>
    {else /}
    <li role="presentation"><a href="javascript:void(0);" onclick="loadURL('{:url("user/add")}')">添加管理员</a></li>
    {/if}
</ul>